*{
    box-sizing: border-box;
}
*{
      font-family: "Lucida Sans", sans-serif;
}

div#header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(84, 84, 84);
    left: 0;
    top: 0;
}
#callnow{
    display: none;
}    
hr#hr1{
    display: none;
}
h2#logo{
    padding-left: 30px;
    margin-top: 15px;
}

div#main{
    width: 100%;
    height: 500px;
    margin-top: 51px;
    background-repeat: no-repeat;
    background-color: rgba(100, 148, 237, 0.642);
    
}
div#div1{
    color: #ffffff;
    float: left;
    margin-top: 30px;
    margin: 40px 25px 55px 90px;
    font-size: 18px;
}
div#div2{
    float: left;
    margin-top: 35px;
    background-color: rgba(172, 172, 172, 0.481);
    padding: 25px;
    color: #fff;
    font-size: 18px;
}
input{
    padding: 7px 0px 7px 0px;
}
button#toform{
    text-align: center;
    border: none;
    background-color: chocolate;
    color: #ffffff;
    padding: 7px 32px 7px 32px;
    font-size: 22.5px;
    margin-top: 13px;
    border-radius: 2px;
}
.row{
    background-color: #ffffff;
    width: 100%;
    height: 400px;
}
.icon1{
    font-size: 50px;
}
div.ariel{
    float: left;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
div#man{
    width: 100%;
    float: left;
    background-color: rgb(171, 171, 171) ;
    height: 350px;
    text-align: center;
    box-sizing: border-box;
}
img#img2{
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border: 2px solid rgb(62, 62, 62);
    border-radius: 150px;

}
hr#hr2{
    margin-left: 520px;
    border-top: 1px solid rgb(0, 0, 0);
    width:15%
}
div.footer{
    text-align: center;
    height: 30px;
}
h4{
    float: left;
    text-align: center;
} 
h4#ccc{
    padding-left: 30%;
}
@media (max-width: 600px){
    div#div2{
        margin-left: 30px;
    }
    div#main{
        height: 1200px;
    }
    #callnow{
        display: block;
        background-color:orange;
        border: none;
        color: white;
        width:300px ;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin-bottom: 10px;  
    }
    div.row{
        display: inline;

    }
    hr#hr2{
        margin-left: 245px;
    }
}
